body {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background-image: url("https://i.pinimg.com/564x/51/f0/18/51f01873e83afe44e3e86a2a22d92dfc.jpg");
    font-size: 2vw;
}
h1 {
    font-family: 'Lobster', cursive;
    font-size: 8vw;
}
.container {
    display: inline-block;
    border: rgb(0, 255, 64);
    border-style: double;
    border-width: 5 px;
    text-align: center;
    background-color: white;
    padding-bottom: 10px;
    
}

.main {
    
    padding-right: 20px;
    padding-bottom: 30px;
    text-align: left;
    

}


 